@charset "UTF-8";

body {
    background-color: rgb(206, 233, 227);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body h2 {
    color: white;
    background-color: #4B196D;
    text-align: center;
}

div#intro img{
    margin: auto; /* idk why do we have to do the two things */
    display: grid;
    border: 6px solid white;
    border-radius: 50%; /*  */
    box-shadow: 4px 4px 4px;
}

div#intro h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

div#tabelaProfissoes th{
    background-color: #BBBBBB;
}

div#tabelaProfissoes td {
    background-color: #DDDDDD;
}

