@charset "UTF-8";

:root {
    --cor-primaria: #AED8E2;
    --cor-primaria-desbotada: #CEE9E3;
    --cor-gradiente: #30b191;
    --primary-accent: #4B196D;
    --primary-accent-faded: #AF93C2;
    --popup-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

body {
    height: 100vh; /* this seems to stretch the height until the end of the screen. idk about any repercussions tho... */
    background: linear-gradient(var(--cor-primaria), var(--cor-gradiente));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p { /* I should revisit the cascading bit of the book */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

hr {
    border-top: 1px dashed var(--primary-accent);
    border-bottom: 1px solid var(--primary-accent);
    height: 1px;
}

body h2 {
    color: white;
    background-color: var(--primary-accent);
    text-align: center;
}

.intro-img{
    max-width: 200px;
    margin-right: 20px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 4px 4px 4px;
}

.intro-img:hover {
    transform: scaleX(-1);
}

.intro-corpo {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.intro-block {
    display: inline-block;
    vertical-align: top;
}

.intro-data {
    background: linear-gradient(to left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05));
    display: inline-block;
    vertical-align: top;
    border-left: 40px solid var(--primary-accent);
    border-radius: 10px;  
}

.intro-data p {
    margin-inline: 6px;
    margin-block: 2px;
}

.intro-data h2 {
    margin-block: 0px;
    border-radius: 0px 10px 0px 0px;
}

.intro-data a {
    margin: 1px;
    width: 40px;
    text-decoration: none;
}

.intro-data button {
    border: none;
    height: max-content;
    width: 70px;
}

nav#personal-links {
    padding: 0px;
    width: 238px; /* I don't know how to make this dynamic */
}

nav#personal-links button {
    background-color: var(--cor-primaria-desbotada);
    border-right: solid 1px;
    border-bottom: solid 1px;
    height: 100px;
    width: 80px;
    margin-inline: -3px;
    transition: filter .3s;
}

nav#personal-links button:hover {
    filter: brightness(90%);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: var(--popup-shadow);
}

nav#personal-links img {
    height: 50px;
    transition: filter .3s;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-block {
    background: linear-gradient(to left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05));
    flex: 1;
    margin: 3px;
    min-width: 600px;
    max-width: 900px;
    border-left: 40px solid var(--primary-accent);
    border-radius: 10px 10px 0px 10px;
    padding: 4px 0px 4px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-block h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px 10px 0px 0px;
}

.section-block li {
    padding-left: 10px;
}

div#formacoes li {
    font-size: 14pt;
}

div#bio h1 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.profession-table {
    display: center;
    border-collapse: collapse;
    width: 100%;
}
.profession-table th{
    background-color: #af93c2;
    border: solid 1px #4B196D;
}

.profession-table td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d2ebf7;
    border: solid 1px #4B196D;
}

.fale-comigo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fale-comigo h3 {
    background-color: #4B196D;
    text-align: center;
    width: 50%;
}

.main {
    background-color: #4B196D;
    width: 50%;
    min-width: 470px;
    display: inline-block;
    height: 150px;
    border-radius: 8px;
}

/* Seção que contém o título do formulário */
.title {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 16pt;
    border-radius: 10px;
}

/* Seção inferior que contém o bloco de texto e os botões */
.lower-box {
    display: flex;
    height: 100%;
    background-color: #4B196D;
    padding: 2px
}

.lower-box input {
    width: 250px;
}

.lower-box textarea {
    width: 70%;
    height: 150px;
    padding: 8px 4px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.lower-box textarea:focus {
    outline-color: var(--primary-accent-faded);
}

/* Seção de botões */
.buttons {
    flex: 1;
    width: 100%;
    display: inline-block;
    gap: 12px;
}

/* Botões de contato */
.buttons button {
    width: 100%;
    display: block;
    height: 50%;
    background-color: #af93c2;
    border: 2px solid #4B196D;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    color: #4B196D;
    transition: all .1s ease;
}

.buttons button:hover {
    filter: brightness(90%);
    transform: translateX(6px);
}

/* Container para centralizar o formulário de contato */
.container {
    display: flex;
    justify-content: center;
}