@charset "UTF-8";

body {
    background-color: rgb(206, 233, 227);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body h2 {
    color: white;
    background-color: #4B196D;
    text-align: center;
}

.intro-corpo {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.intro-block {
    display: inline-block;
    vertical-align: top;
}

.intro-data {
    display: inline-block;
    vertical-align: top;
    border-left: 25px solid #4B196D;    
}

.intro-data p {
    margin-inline: 6px;
    margin-block: 2px;
}

.intro-data h2 {
    margin-block: 0px;
}

.intro-data a {
    margin: 1px;
    width: 40px;
    text-decoration: none;
}

.intro-data button {
    border: none;
    height: max-content; /* TODO */
    width: 70px;
}

nav#personal-links {
    padding: 0px;
    width: 238px; /* I don't know how to make this dynamic */
}

nav#personal-links button {
    background-color: rgb(206, 233, 227);
    border-right: solid 1px;
    border-bottom: solid 1px;
    height: 100px;
    width: 80px;
    margin-inline: -3px;
    transition: filter .3s;
}

nav#personal-links button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

nav#personal-links img {
    height: 50px;
    transition: filter .3s;
}

.intro-img{
    max-width: 200px;
    margin-right: 20px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 4px 4px 4px;
}

div#bio h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

div#tabelaProfissoes th{
    background-color: #BBBBBB;
}

div#tabelaProfissoes td {
    background-color: #DDDDDD;
}

