:root {
    --background-color: #222222;
    --main-color: #960923;
    --secondary-color: #fffb21;
    --accent-color: #11a0a0;
}

body {
    background-color: var(--background-color);
    margin: 2px; /* AID */
}

.container {
    height: 200px;
    border: 1px dashed white; /* AID */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 6px;
}

.item {
    font-size: 20pt;
    font-weight: bold;
    padding: 4px;
    border: 4px dashed;
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
}
